In [41]:
# Import the required modules
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [42]:
ratings_cluster_df = pd.read_csv(
    Path("../df_ratings_cluster.csv")
)

# Review the DataFrame
display(ratings_cluster_df.head())

,Unnamed: 0,UserID,MovieID,YEAR,Rating,Genres_Western,Genres_War,Genres_Thriller,Genres_Sci-Fi,Genres_Romance,...,Genres_Comedy,Genres_Children's,Genres_Animation,Genres_Adventure,Genres_Action,cluster,Age,Gender,Occupation,Title
0,0,1,1,1995,5,0,0,0,0,0,...,0,1,1,0,0,26,1,1,10,Toy Story
1,1,6,1,1995,4,0,0,0,0,0,...,0,1,1,0,0,26,50,1,9,Toy Story
2,2,8,1,1995,4,0,0,0,0,0,...,0,1,1,0,0,26,25,2,12,Toy Story
3,3,9,1,1995,5,0,0,0,0,0,...,0,1,1,0,0,26,25,2,17,Toy Story
4,4,10,1,1995,5,0,0,0,0,0,...,0,1,1,0,0,26,35,1,1,Toy Story

In [43]:
# Define features set
X = ratings_cluster_df[["Age", "Gender", "Occupation", "MovieID", "cluster", "UserID", "Rating"]].copy()
X.drop("cluster", axis=1, inplace=True)
X.head()

   Age  Gender  Occupation  MovieID  UserID  Rating
0    1       1          10        1       1       5
1   50       1           9        1       6       4
2   25       2          12        1       8       4
3   25       2          17        1       9       5
4   35       1           1        1      10       5

In [44]:
# Define target vector
y = ratings_cluster_df["cluster"].ravel()
y[:5]

C:\Users\chris\AppData\Local\Temp\ipykernel_16684\535923537.py:2: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  y = ratings_cluster_df["cluster"].ravel()

array([26, 26, 26, 26, 26], dtype=int64)

In [45]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [46]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, min_samples_split=10, min_samples_leaf=2, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

In [47]:
# Making predictions using the testing data
predictions_test = rf_model.predict(X_test)

# Making predictions using the training data
predictions_train = rf_model.predict(X_train)

In [48]:
# Calculating the accuracy_test score
acc_test_score = accuracy_score(y_test, predictions_test)

# Displaying results
print(f"Accuracy Test Score : {acc_test_score}")
print("Classification Report")
print(classification_report(y_test, predictions_test))

Accuracy Test Score : 0.6126604834469778
Classification Report
              precision    recall  f1-score   support

           0       0.38      0.28      0.32      7272
           1       0.81      0.85      0.83     18575
           2       0.27      0.10      0.15      1895
           3       0.56      0.34      0.42      5379
           4       0.44      0.29      0.35      4777
           5       0.44      0.43      0.44     12831
           6       0.67      0.25      0.36      3073
           7       0.34      0.18      0.24      2718
           8       0.62      0.12      0.21      1164
           9       0.83      0.79      0.81     12718
          10       0.42      0.36      0.39     10270
          11       0.45      0.44      0.45      3244
          12       0.38      0.20      0.26      4641
          13       0.41      0.23      0.29      1469
          14       0.57      0.95      0.71      6016
          15       0.43      0.51      0.46     17733
          16       0.47      0.28      0.35      4616
          17       0.60      0.94      0.74     25007
          18       0.30      0.06      0.10      1282
          19       0.40      0.24      0.30      7058
          20       0.85      0.89      0.87     13716
          21       0.37      0.21      0.27      6489
          22       0.49      0.49      0.49     14626
          23       0.55      0.38      0.45      7910
          24       0.72      0.68      0.70     15264
          25       0.80      0.86      0.83      7738
          26       0.93      0.92      0.93     14608
          27       0.50      0.26      0.34      4345
          28       0.59      0.93      0.72     12333
          29       0.19      0.02      0.04       402

    accuracy                           0.61    249169
   macro avg       0.53      0.45      0.46    249169
weighted avg       0.60      0.61      0.59    249169

In [49]:
# Calculating the accuracy_test score
acc_train_score = accuracy_score(y_train, predictions_train)

# Displaying results
print(f"Accuracy Train Score : {acc_train_score}")
print("Classification Report")
print(classification_report(y_train, predictions_train))

Accuracy Train Score : 0.817826455136875
Classification Report
              precision    recall  f1-score   support

           0       0.81      0.66      0.72     21922
           1       0.90      0.91      0.91     56105
           2       0.83      0.48      0.61      5654
           3       0.89      0.67      0.77     16809
           4       0.83      0.64      0.72     14473
           5       0.78      0.77      0.77     38807
           6       0.94      0.52      0.67      9361
           7       0.83      0.59      0.69      8104
           8       0.97      0.48      0.64      3434
           9       0.92      0.88      0.90     38204
          10       0.78      0.72      0.75     30886
          11       0.78      0.72      0.74      9665
          12       0.84      0.59      0.69     13606
          13       0.87      0.63      0.73      4706
          14       0.70      0.99      0.82     18234
          15       0.73      0.81      0.77     52231
          16       0.84      0.59      0.70     13600
          17       0.73      0.99      0.84     74585
          18       0.88      0.39      0.54      3752
          19       0.82      0.63      0.72     21131
          20       0.92      0.94      0.93     41175
          21       0.81      0.61      0.70     19070
          22       0.76      0.81      0.78     43367
          23       0.87      0.72      0.79     23895
          24       0.88      0.86      0.87     46669
          25       0.88      0.93      0.90     23355
          26       0.96      0.94      0.95     43997
          27       0.89      0.63      0.74     12714
          28       0.71      0.98      0.82     36704
          29       0.92      0.31      0.46      1292

    accuracy                           0.82    747507
   macro avg       0.84      0.71      0.75    747507
weighted avg       0.83      0.82      0.81    747507

In [22]:
# Save the model
import joblib

joblib.dump(rf_model, 'random_forest_model.joblib')

['random_forest_model.joblib']